<%= link_to "現在地", "#", id:"getLocation", color:"#000000" %>
<div id='geoLocationLat'></div>
<div id='geoLocationLon'></div>
<div id='geoLocationAdd'></div>
<div id='geoLocationAdd2'></div>
<div id='geoRecommend'></div>
  