<h1>Sample</h1>
<%= link_to "現在地", "#", id:"getLocation" %>

<div id='geoLocationLat'></div>
<div id='geoLocationLon'></div>
<div id='geoLocationAdd'></div>
<div id='geoLocationAdd2'></div>
<div id='geoRecommend'></div>
  